<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Advising List</title>
<style type="text/css">
	table tr td, th{
		border: solid 1px black;
	}
</style>
<script>
	
</script>
</head>
<body>
<div th:replace="fragments/adminheader :: header"></div>
<form id="frmAdvising" th:object="${model}" th:action="@{/admin/searchadvisings}" method="post">
	<div align="center">
		<div th:if="${model.successMessage == 'registered'}">
				<div style="text-align: center; font-size: 20px; color: green;"><h3>Congratulation! You have been registered successfully.</h3></div>
		</div>
		<div th:if="${model.successMessage == 'updated'}">
				<div style="text-align: center; font-size: 20px; color: green;"><h3>Congratulation! You have been updated successfully.</h3></div>
		</div>
		<div th:if="${model.successMessage == 'deleted'}">
				<div style="text-align: center; font-size: 20px; color: green;"><h3>Congratulation! You have been deleted successfully.</h3></div>
		</div>
		<h2>Search Advising</h2>
		<table>
			<tr>
				<td>AppointmentId</td>
				<td><input type="text" th:field="*{appointmentId}"></td>
			</tr>
			<tr>
				<td>FacultyId</td>
				<td>
					<select th:field="*{facultyId}" style="width: 100%">
						<option th:value="NULL" th:text="NULL"></option>
						<option th:each="faculty : ${model.facultyList}" th:value="${faculty.facultyId}" th:text="${faculty.facultyId}"></option>
					</select>
				</td>
			</tr>
			<tr>
				<td>Faculty First Name</td>
				<td><input type="text" th:field="*{facultyFirstName}"></td>
			</tr>
			<tr>
				<td>Faculty First Name</td>
				<td><input type="text" th:field="*{facultyLastName}"></td>
			</tr>
			<tr>
				<td>StudentId</td>
				<td>
					<select th:field="*{studentId}" style="width: 100%">
						<option th:value="NULL" th:text="NULL"></option>
						<option th:each="student : ${model.studentList}" th:value="${student.studentId}" th:text="${student.studentId}"></option>
					</select>
				</td>
			</tr>
			<tr>
				<td>Student First Name</td>
				<td><input type="text" th:field="*{studentFirstName}"></td>
			</tr>
			<tr>
				<td>Student First Name</td>
				<td><input type="text" th:field="*{studentLastName}"></td>
			</tr>
			<tr>
				<td>Advising Date</td>
				<td><input type="date" th:field="*{advisingDate}" style="width: 97%;"></td>
			</tr>
			<tr>
				<td colspan="2" align="center"><button type="submit">Search</button></td>
			</tr>
		</table>
		<br><br>
		<h2>Advising List</h2>
		<a th:href="@{/admin/registeradvising}">Add Advising</a>
		<br><br>
		<div th:if="${not #lists.isEmpty(model.advisingList)}">
			<table>
				<tr>
					<th>Appointment Id</th>
					<th>FacultyId</th>
					<th>Faculty First Name</th>
					<th>Faculty Last Name</th>
					<th>StudentId</th>
					<th>Student First Name</th>
					<th>Student Last Name</th>
					<th>Advising Date</th>
					<th>Action</th>
				</tr>
				<tr th:each="advising : ${model.advisingList}">
					<td th:utext="${advising.appointmentId}"></td>
					<td th:utext="${advising.facultyId}"></td>
					<td th:utext="${advising.facultyFirstName}"></td>
					<td th:utext="${advising.facultyLastName}"></td>
					<td th:utext="${advising.studentId}"></td>
					<td th:utext="${advising.studentFirstName}"></td>
					<td th:utext="${advising.studentLastName}"></td>
					<td th:utext="${advising.advisingDate}"></td>
					<td>
						<a th:href="@{/admin/updateadvising/{id}(id=${advising.appointmentId})}">Update</a>
						<a th:href="@{/admin/deleteadvising/{id}(id=${advising.appointmentId})}">Delete</a>
					</td>
				</tr>
			</table>
		</div>
	</div>
</form>
</body>
</html>