<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Minor List</title>
<style type="text/css">
	table tr td, th{
		border: solid 1px black;
	}
</style>
<script>
	function findMinorRequirement(minorId, minorName){
		document.getElementById("minorId").value = minorId;
		document.getElementById("minorName").value = minorName;
		document.forms.frmMinor.action = "minorrequirementdetail";
		document.forms.frmMinor.submit();
	}
	
</script>
</head>
<body>
<div th:replace="fragments/adminheader :: header"></div>
<form id="frmMinor" th:object="${model}" th:action="@{/admin/searchminors}" method="post">
	<div align="center">
		<div th:if="${model.successMessage == 'registered'}">
				<div style="text-align: center; font-size: 20px; color: green;"><h3>Congratulation! You have been registered successfully.</h3></div>
		</div>
		<div th:if="${model.successMessage == 'updated'}">
				<div style="text-align: center; font-size: 20px; color: green;"><h3>Congratulation! You have been updated successfully.</h3></div>
		</div>
		<div th:if="${model.successMessage == 'deleted'}">
				<div style="text-align: center; font-size: 20px; color: green;"><h3>Congratulation! You have been deleted successfully.</h3></div>
		</div>
		<h2>Search Minors</h2>
		<table>
			<tr>
				<td>Minor Id</td>
				<td><input type="text" th:field="*{minorId}"></td>
			</tr>
			<tr>
				<td>Department Name</td>
				<td>
					<select th:field="*{departmentId}" style="width: 100%">
						<option th:value="NULL" th:text="NULL"></option>
						<option th:each="department : ${model.departmentList}" th:value="${department.departmentId}" th:text="${department.departmentName}"></option>
					</select>
				</td>
			</tr>
			<tr>
				<td>Minor Name</td>
				<td><input type="text" th:field="*{minorName}"></td>
			</tr>
			<tr>
				<td>Required Credits</td>
				<td><input type="text" th:field="*{requiredCredits}"></td>
			</tr>
			<tr>
				<td colspan="2" align="center"><button type="submit" >Search</button></td>
			</tr>
		</table>
		<br><br>
		<h2>Minor List</h2>
		<a th:href="@{/admin/registerminor}">Add Minor</a>
		<br><br>
		<div th:if="${not #lists.isEmpty(model.minorList)}">
		<table>
			<tr>
				<th>Minor Id</th>
				<th>Department Name</th>
				<th>Minor Name</th>
				<th>Required Credits</th>
				<th>Action</th>
			</tr>
			<tr th:each="minor : ${model.minorList}">
				<td th:utext="${minor.minorId}"></td>
				<td th:utext="${minor.departmentName}"></td>
				<td th:utext="${minor.minorName}"></td>
				<td th:utext="${minor.requiredCredits}"></td>
				<td>
					<button type="button" th:onclick="findMinorRequirement([[${minor.minorId}]],[[${minor.minorName}]])">Requirement</button>
					<a th:href="@{/admin/updateminor/{id}(id=${minor.minorId})}">Update</a>
					<a th:href="@{/admin/deleteminor/{id}(id=${minor.minorId})}">Delete</a>
				</td>
			</tr>
		</table>
		</div>
	</div>
</form>
</body>
</html>