<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Prerequisites List</title>
<style type="text/css">
	table tr td, th{
		border: solid 1px black;
	}
</style>
<script>
	
</script>
</head>
<body>
<div th:replace="fragments/adminheader :: header"></div>
<form id="frmPrerequisites" th:object="${model}" th:action="@{/admin/searchprerequisitess}" method="post">
	<div align="center">
		<div th:if="${model.successMessage == 'registered'}">
				<div style="text-align: center; font-size: 20px; color: green;"><h3>Congratulation! You have been registered successfully.</h3></div>
		</div>
		<div th:if="${model.successMessage == 'updated'}">
				<div style="text-align: center; font-size: 20px; color: green;"><h3>Congratulation! You have been updated successfully.</h3></div>
		</div>
		<div th:if="${model.successMessage == 'deleted'}">
				<div style="text-align: center; font-size: 20px; color: green;"><h3>Congratulation! You have been deleted successfully.</h3></div>
		</div>
		<h2>Search Prerequisites</h2>
		<table>
			<tr>
				<td>Required CourseId</td>
				<td>
					<select th:field="*{requiredCourseId}" style="width: 100%">
						<option th:value="NULL" th:text="NULL"></option>
						<option th:each="course : ${model.courseList}" th:value="${course.courseId}" th:text="${course.courseId}"></option>
					</select>
				</td>
			</tr>
			<tr>
				<td>Required Course Name</td>
				<td><input type="text" th:field="*{requiredCourseName}"></td>
			</tr>
			<tr>
				<td>Main CourseId</td>
				<td>
					<select th:field="*{courseId}" style="width: 100%">
						<option th:value="NULL" th:text="NULL"></option>
						<option th:each="course : ${model.courseList}" th:value="${course.courseId}" th:text="${course.courseId}"></option>
					</select>
				</td>
			</tr>
			<tr>
				<td>Main Course Name</td>
				<td><input type="text" th:field="*{courseName}"></td>
			</tr>
			<tr>
				<td>Min Grade</td>
				<td><input type="text" th:field="*{minGrade}"></td>
			</tr>

			<tr>
				<td colspan="2" align="center"><button type="submit">Search</button></td>
			</tr>
		</table>
		<br><br>
		<h2>Prerequisites List</h2>
		<a th:href="@{registerprerequisites}">Add Prerequisites</a>
		<br><br>
		<div th:if="${not #lists.isEmpty(model.prerequisitesList)}">
		<table>
			<tr>
				<th>Prerequisites Id</th>
				<th>Required CourseId</th>
				<th>Required Course Name</th>
				<th>Main CourseId</th>
				<th>Main Course Name</th>
				<th>Min Grade</th>
				<th>Action</th>
			</tr>
			<tr th:each="prerequisites : ${model.prerequisitesList}">
				<td th:utext="${prerequisites.prereqId}"></td>
				<td th:utext="${prerequisites.requiredCourseId}"></td>
				<td th:utext="${prerequisites.requiredCourseName}"></td>
				<td th:utext="${prerequisites.courseId}"></td>
				<td th:utext="${prerequisites.courseName}"></td>
				<td th:utext="${prerequisites.minGrade}"></td>
				<td>
					<a th:href="@{/admin/updateprerequisites/{id}(id=${prerequisites.prereqId})}">Update</a>
					<a th:href="@{/admin/deleteprerequisites/{id}(id=${prerequisites.prereqId})}">Delete</a>
				</td>
			</tr>
		</table>
		</div>
	</div>
</form>
</body>
</html>