<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Register Faculty History</title>
<style type="text/css">
	table tr td, th{
		border: solid 1px black;
	}
</style>
</head>
<body>
<div th:replace="fragments/adminheader :: header"></div>
<form th:action="@{/admin/registerfacultyhistory}" th:object="${model}" method="POST">
	<div align="center">
		<h2>Register Faculty History</h2>
		<label th:utext="*{errorMessage}" th:style="${'color:red'}"></label>
		<table>
			<tr>
				<td>Faculty Id</td>
				<td>
					<select th:field="*{facultyId}" style="width: 100%">
						<option th:each="faculty : ${model.facultyList}" th:value="${faculty.facultyId}" th:text="${faculty.facultyId+' : '+faculty.facultyFirstName+' '+faculty.facultyLastName}"></option>
					</select>
					<div th:if="${#fields.hasErrors('facultyId')}"  th:errors="*{facultyId}" th:style="${'color:red'}"></div>
				</td>
			</tr>
			<tr>
				<td>Course Section Id</td>
				<td>
					<select th:field="*{courseSectionId}" style="width: 100%">
						<option th:each="courseSection : ${model.courseSectionList}" th:value="${courseSection.courseSectionId}" th:text="${courseSection.courseSectionId+' : '+courseSection.semesterYear}"></option>
					</select>
					<div th:if="${#fields.hasErrors('courseSectionId')}"  th:errors="*{courseSectionId}" th:style="${'color:red'}"></div>
				</td>
			</tr>
			<tr>
				<td colspan="2"><button type="submit">Register</button></td>
			</tr>
		</table>
	</div>
</form>
</body>
</html>