<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Register Student Major</title>
<style type="text/css">
	table tr td, th{
		border: solid 1px black;
	}
</style>
</head>
<body>
<form th:action="@{/admin/registerstudentmajor}" th:object="${model}" method="POST">
<div th:replace="fragments/adminheader :: header"></div>
	<div align="center">
		<h2>Register Student Major</h2>
		<label th:utext="*{errorMessage}" th:style="${'color:red'}"></label>
		<table>
			<tr>
				<td>Student Id</td>
				<td>
					<select th:field="*{studentId}" style="width: 100%">
						<option th:each="student : ${model.studentList}" th:value="${student.studentId}" th:text="${student.studentId+' : '+student.studentFirstName+ ' ' +student.studentLastName}"></option>
					</select>
					<div th:if="${#fields.hasErrors('studentId')}"  th:errors="*{studentId}" th:style="${'color:red'}"></div>
				</td>
			</tr>
			<tr>
				<td>Major Id</td>
				<td>
					<select th:field="*{majorId}" id="majorId" style="width: 100%">
						<option th:each="major : ${model.majorList}" th:value="${major.majorId}" th:text="${major.majorId+' : '+major.majorName}"></option>
					</select>
					<div th:if="${#fields.hasErrors('majorId')}"  th:errors="*{majorId}" th:style="${'color:red'}"></div>
				</td>
			</tr>
			<tr>
				<td>Date</td>
				<td><input type="date" th:field="*{date}" style="width: 97%">
					<div th:if="${#fields.hasErrors('date')}"  th:errors="*{date}" th:style="${'color:red'}"></div>
				</td>
			</tr>
			<tr>
				<td colspan="2"><button type="submit">Register</button></td>
			</tr>
		</table>
	</div>
</form>
</body>
</html>