<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Update Course Section</title>
<style type="text/css">
	table tr td, th{
		border: solid 1px black;
	}
	
	input {
		width: 96%;
	}
</style>
</head>
<body>
<form th:action="@{/admin/updatecoursesection}" th:object="${model}" method="POST">
<div th:replace="fragments/adminheader :: header"></div>
	<div align="center">
		<h2>Update Course Section</h2>
		<table>
			<tr>
				<td>CRN</td>
				<td><input type="number" th:field="*{courseSectionId}" onkeypress="if(this.value.length == 9) return false;" readonly="readonly">
					<div th:if="${#fields.hasErrors('courseSectionId')}"  th:errors="*{courseSectionId}" th:style="${'color:red'}"></div>			
				</td>
			</tr>
			<tr>
				<td>Section Number</td>
				<td><input type="text" th:field="*{sectionNumber}" maxlength="5">
					<div th:if="${#fields.hasErrors('sectionNumber')}"  th:errors="*{sectionNumber}" th:style="${'color:red'}"></div>	
				</td>
			</tr>
			<tr>
				<td>Available Seats</td>
				<td><input type="number" th:field="*{availableSeats}" onkeypress="if(this.value.length == 9) return false;">
					<div th:if="${#fields.hasErrors('availableSeats')}"  th:errors="*{availableSeats}" th:style="${'color:red'}"></div>	
				</td>
			</tr>
			<tr>
				<td>Semester Year</td>
				<td><input type="text" th:field="*{semesterYear}" maxlength="20">
					<div th:if="${#fields.hasErrors('semesterYear')}"  th:errors="*{semesterYear}" th:style="${'color:red'}"></div>	
				</td>
			</tr>
			<tr>
				<td>Time Window</td>
				<td><input type="datetime-local" th:field="*{timeWindow}" style="width: 97%">
					<div th:if="${#fields.hasErrors('timeWindow')}"  th:errors="*{timeWindow}" th:style="${'color:red'}"></div>	
				</td>
			</tr>
			<tr>
				<td>Faculty</td>
				<td>
					<select th:field="*{facultyId}" style="width: 100%">
						<option th:each="faculty : ${model.facultyList}" th:value="${faculty.facultyId}" th:text="${faculty.facultyId +' : '+faculty.facultyFirstName+' '+faculty.facultyLastName}"></option>
					</select>
					<div th:if="${#fields.hasErrors('facultyId')}"  th:errors="*{facultyId}" th:style="${'color:red'}"></div>	
				</td>
			</tr>
			<tr>
				<td>Time Slot</td>
				<td>
					<select th:field="*{timeSlotId}" style="width: 100%">
						<option th:each="timeSlot : ${model.timeSlotList}" th:value="${timeSlot.timeSlotId}" th:text="${timeSlot.day +' : '+timeSlot.period}"></option>
					</select>
					<div th:if="${#fields.hasErrors('timeSlotId')}"  th:errors="*{timeSlotId}" th:style="${'color:red'}"></div>	
				</td>
			</tr>
			<tr>
				<td>Room</td>
				<td>
					<select th:field="*{roomId}" style="width: 100%">
						<option th:each="room : ${model.roomList}" th:value="${room.roomId}" th:text="${room.roomId}"></option>
					</select>
					<div th:if="${#fields.hasErrors('roomId')}"  th:errors="*{roomId}" th:style="${'color:red'}"></div>	
				</td>
			</tr>
			<tr>
				<td>Course</td>
				<td>
					<select th:field="*{courseId}" style="width: 100%">
						<option th:each="course : ${model.courseList}" th:value="${course.courseId}" th:text="${course.courseName}"></option>
					</select>
					<div th:if="${#fields.hasErrors('courseId')}"  th:errors="*{courseId}" th:style="${'color:red'}"></div>	
				</td>
			</tr>
			<tr>
				<td colspan="2"><button type="submit">Update</button></td>
			</tr>
		</table>
	</div>
</form>
</body>
</html>