<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Update Advising</title>
<style type="text/css">
	table tr td, th{
		border: solid 1px black;
	}
</style>
</head>
<body>
<div th:replace="fragments/adminheader :: header"></div>
<form th:action="@{/admin/updateadvising}" th:object="${model}" method="POST">
	<div align="center">
		<h2>Update Advising</h2>
		<input type="hidden" th:field="*{appointmentId}">
		<table>
			<tr>
				<td>Student Id</td>
				<td>
					<select th:field="*{studentId}" style="width: 100%">
						<option th:each="student : ${model.studentList}" th:value="${student.studentId}" th:text="${student.studentId +' : '+student.studentFirstName+' '+student.studentLastName}"></option>
					</select>
					<div th:if="${#fields.hasErrors('studentId')}"  th:errors="*{studentId}" th:style="${'color:red'}"></div>
				</td>
			</tr>
			<tr>
				<td>Faculty Id</td>
				<td>
					<select th:field="*{facultyId}" style="width: 100%">
						<option th:each="faculty : ${model.facultyList}" th:value="${faculty.facultyId}" th:text="${faculty.facultyId +' : '+faculty.facultyFirstName+' '+faculty.facultyLastName}"></option>
					</select>
					<div th:if="${#fields.hasErrors('facultyId')}"  th:errors="*{facultyId}" th:style="${'color:red'}"></div>
				</td>
			</tr>
			<tr>
				<td>Advising Date</td>
				<td><input type="date" th:field="*{advisingDate}" style="width: 97%">
					<div th:if="${#fields.hasErrors('advisingDate')}"  th:errors="*{advisingDate}" th:style="${'color:red'}"></div>
				</td>
			</tr>
			<tr>
				<td colspan="2"><button type="submit">Update</button></td>
			</tr>
		</table>
	</div>
</form>
</body>
</html>