<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Update Student History</title>
<style type="text/css">
	table tr td, th{
		border: solid 1px black;
	}
</style>
</head>
<body>
<div th:replace="fragments/adminheader :: header"></div>
<form th:action="@{/admin/updatestudenthistory}" th:object="${model}" method="POST">
	<div align="center">
		<h2>Update Student History</h2>
		<label th:utext="*{errorMessage}" th:style="${'color:red'}"></label>
		<table>
			<tr>
				<td>Student Id</td>
				<td>
					<select th:field="*{studentId}" style="width: 100%" disabled="disabled">
						<option th:each="student : ${model.studentList}" th:value="${student.studentId}" th:text="${student.studentId+' : '+student.studentFirstName+' '+student.studentLastName}"></option>
					</select>
					<input type="hidden" th:field="*{studentId}">
					<div th:if="${#fields.hasErrors('studentId')}"  th:errors="*{studentId}" th:style="${'color:red'}"></div>
				</td>
			</tr>
			<tr>
				<td>Course Section Id</td>
				<td>
					<select th:field="*{courseSectionId}" style="width: 100%" disabled="disabled">
						<option th:each="courseSection : ${model.courseSectionList}" th:value="${courseSection.courseSectionId}" th:text="${courseSection.courseSectionId+' : '+courseSection.semesterYear}"></option>
					</select>
					<input type="hidden" th:field="*{courseSectionId}">
					<div th:if="${#fields.hasErrors('courseSectionId')}"  th:errors="*{courseSectionId}" th:style="${'color:red'}"></div>
				</td>
			</tr>
			<tr>
				<td>Grade</td>
				<td><input type="text" th:field="*{grade}" maxlength="10">
					<div th:if="${#fields.hasErrors('grade')}"  th:errors="*{grade}" th:style="${'color:red'}"></div>
				</td>
			</tr>
			<tr>
				<td colspan="2"><button type="submit">Update</button></td>
			</tr>
		</table>
	</div>
</form>
</body>
</html>