<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>
</head>
<body>
	<div th:fragment="header">
	    <div class="py-2 bg-light">
	      <div class="container">
	        <div class="row align-items-center">
	          <div class="col-lg-9 d-none d-lg-block">
	            <a href="#" class="small mr-3"><span class="icon-question-circle-o mr-2"></span> Have questions?</a> 
	            <a href="#" class="small mr-3"><span class="icon-phone2 mr-2"></span>+1 516 876 2022</a> 
	            <a href="#" class="small mr-3"><span class="icon-envelope-o mr-2"></span> chalkboard@cu.edu</a> 
	          </div>
	          <div class="col-lg-3 text-right">
	            <form th:action="@{/logout}" method="POST">
					<input class="small btn btn-primary px-4 py-2 rounded-0" type="submit" value="Logout" />
				</form>
	          </div>
	        </div>
	      </div>
	    </div>
	    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">
	      	<div class="container">
				<div class="d-flex align-items-center">
		          <div class="site-logo">
		            <a th:href="@{/student/studenthome}" class="d-block">
		              <img src="../../images/logo.jpg" alt="Image" class="img-fluid">
		            </a>
		          </div>
		          <div class="mr-auto">
		            <nav class="site-navigation position-relative text-right" role="navigation">
		              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
		                <li class="active">
		                  <a th:href="@{/student/studenthome}" class="nav-link text-left">Home</a>
		                </li>
		                <li class="active">
		                  <a th:href="@{/student/coursesections}" class="nav-link text-left">Master Schedule</a>
		                </li>
		                <li class="active">
		                  <a th:href="@{/student/enrollmenthistories}" class="nav-link text-left">Degree Audit</a>
		                </li>
		                <li class="active">
		                  <a th:href="@{/student/majorcourses}" class="nav-link text-left">Major Courses</a>
		                </li>
		                <li class="active">
		                  <a th:href="@{/student/studenthistories}" class="nav-link text-left">History</a>
		                </li>
		                <li class="active">
		                  <a th:href="@{/student/advisings}" class="nav-link text-left">Appointments</a>
		                </li>
		                <li class="active">
		                  <a th:href="@{/student/updatestudent}" class="nav-link text-left">Profile</a>
		                </li>
		              </ul>                                                                                                                                                                                                                                                                                           </ul>
		            </nav>
		          </div>         
		        </div>
	        </div>
        </header>
	</div>
</body>
</html>