<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.chalkboarduni.uniregistrationsystem.mapper.UserMapper">
	
	<resultMap id="BaseResultMap" type="edu.chalkboarduni.uniregistrationsystem.model.User">
	  <result column="UID" jdbcType="INTEGER" property="userId" />
	  <result column="FName" jdbcType="VARCHAR" property="firstName" />
	  <result column="LName" jdbcType="VARCHAR" property="lastName" />
	  <result column="StNum" jdbcType="VARCHAR" property="streetNum" />
	  <result column="PhNum" jdbcType="VARCHAR" property="phoneNum" />
	  <result column="UType" jdbcType="VARCHAR" property="userType" />
	</resultMap>

	<insert id="save"> <!-- id and method name must be same -->
		INSERT INTO
		user
		VALUES
		(#{user.userId},#{user.firstName},#{user.lastName},#{user.dob},#{user.streetNum},#{user.street},
		 #{user.city},#{user.state},#{user.zipCode},#{user.country},#{user.phoneNum},#{user.userType},0)
	</insert>

	<update id="update">
		UPDATE user SET
		FName=#{user.firstName},LName=#{user.lastName},DOB=#{user.dob},
		StNum=#{user.streetNum},Street=#{user.street},City=#{user.city},
		State=#{user.state},Zipcode=#{user.zipCode},Country=#{user.country},
		PhNum=#{user.phoneNum},UType=#{user.userType}
		WHERE UID=#{user.userId}
	</update>

	<delete id="delete">
		UPDATE user SET DelFlg = 1 WHERE UID=#{id} 
	</delete>

	<select id="findUser" resultType="edu.chalkboarduni.uniregistrationsystem.model.User" resultMap="BaseResultMap">
		SELECT * FROM user u
		<where>
			<if test="user.userId!=null">
				AND u.UID = #{user.userId}
			</if>
			<if test="user.firstName!=null">
				AND u.FName LIKE '%' #{user.firstName} '%'
			</if>
			<if test="user.lastName!=null">
				AND u.LName LIKE '%' #{user.lastName} '%'
			</if>
			<if test="user.dob!=null">
				AND u.DOB = CAST(#{user.dob} AS DATE)
			</if>
			<if test="user.streetNum!=null">
				AND u.StNum LIKE '%' #{user.streetNum} '%'
			</if>
			<if test="user.street!=null">
				AND u.Street LIKE '%' #{user.street} '%'
			</if>
			<if test="user.city!=null">
				AND u.City LIKE '%' #{user.city} '%'
			</if>
			<if test="user.state!=null">
				AND u.State LIKE '%' #{user.state} '%'
			</if>
			<if test="user.zipCode!=null">
				AND u.Zipcode LIKE '%' #{user.zipCode} '%'
			</if>
			<if test="user.country!=null">
				AND u.Country LIKE '%' #{user.country} '%'
			</if>
			<if test="user.phoneNum!=null">
				AND u.PhNum LIKE '%' #{user.phoneNum} '%'
			</if>
			<if test="user.userType!=null">
				AND u.UType = #{user.userType}
			</if>
			AND u.DelFlg = 0
		</where>
	</select>
</mapper>